/*----------------------------------------------------------------------------------------------------------------------
 *
 *  Глобальные стили, переменные, типография, цвета и т.д.
 *
 *--------------------------------------------------------------------------------------------------------------------*/

// Шрифты
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

// Типография
$font-family-sans-serif: "Source Sans Pro", sans-serif
$font-size-base: 0.9rem
$line-height-base: 1.6

// Основные цвета
$appLight: #f9f7f7
$appLightBlue: #dbe2ef
$appBlue: #3f72af
$appDarkBlue: #112d4e

// Вспомогательные цвета
$blue: #3490dc
$indigo: #6574cd
$purple: #9561e2
$pink: #f66D9b
$red: #e3342f
$orange: #f6993f
$yellow: #ffed4a
$green: #38c172
$teal: #4dc0b5
$cyan: #6cb2eb
$dark: #2f323a
$black: #22242a

// Кнопки
.app-btn
  background-color: $appDarkBlue
  text-align: center
  color: $appLight
  padding: .5rem 1rem
  border: 0
  text-transform: uppercase
  border-radius: 3px

  &:hover
    cursor: pointer
    background-color: $appBlue

.app-link
  color: $appBlue
  padding: .5rem 1rem

// Ширина 50%
.w-50
  width: 50%