#right-slide-menu-btn
  &:hover
    cursor: pointer

#right-slide-nav
  background-color: $appLightBlue
  min-width: 310px
  border-left: 1px solid $appDarkBlue
  display: none
  position: absolute
  top: 60px
  right: 0

#closebtn
  padding-left: 20px
  font-size: 1.5rem
  &:hover
    color: $appLight
    cursor: pointer
    background-color: $appDarkBlue