/*----------------------------------------------------------------------------------------------------------------------
 *
 *  Содержит стили для основных компонентов макета, таких как хедер, футер, навигация и т.д
 *
 *--------------------------------------------------------------------------------------------------------------------*/

#header
  background-color: $appBlue
  color: $appLight

#body
  background-color: $appLight
  font-family: $font-family-sans-serif