/*----------------------------------------------------------------------------------------------------------------------
 *
 *  Содержит стили для основных компонентов макета, таких как хедер, футер, навигация и т.д
 *
 *--------------------------------------------------------------------------------------------------------------------*/
#app
    overflow: hidden

#header
  background-color: $appBlue
  color: $appLight
  min-height: 70px

#body
  background-color: $appLight
  font-family: $font-family-sans-serif

#advert-select-block
    min-height: 600px

#paper-select-block
    min-height: 600px

#payment-confirm-block
    min-height: 600px

#personal-office-block
    min-height: 600px

#login-page
    min-height: 600px

#register-page
    min-height: 600px

#reset-password
    min-height: 600px

#update-password
    min-height: 600px

#footer
    background-color: $appDarkBlue
    color: $appLight
    padding: 2% 0
