%label
  width: 100%
  text-align: center
  padding: 15% 0
  background-color: $appLightBlue
  border-radius: 5px
  margin: 0
  transition: all linear .1s
  &:hover
    cursor: pointer
    background-color: $appBlue + 30%
    color: $appLight

.payment-description
  @extend .select-rate

  .select-rate-title
    @extend .select-rate-title

  .payment-description-content
    flex-basis: 75%
    text-transform: none

.select-rate
  display: flex
  color: $appDarkBlue
  text-transform: uppercase

  .select-rate-title
    flex-basis: 25%
    p
      text-transform: none

  .select-rate-radio-container
    flex-basis: 33%
    margin: 2px

    .radio-btn
      label
        @extend %label

      input
        display: none

      input:checked+label
        position: relative
        background-color: $appBlue
        color: $appLight
        box-shadow: 0 5px 7px 0 rgba(50, 50, 50, 0.75)

.payment-method
  @extend .select-rate

  .payment-method-title
    @extend .select-rate-title

  .payment-method-container
    flex-basis: (100% / 8)
    margin: 2px

    .radio-btn
      height: 100%

      label
        height: 100%
        @extend %label

      input
        display: none

      input:checked+label
        position: relative
        background-color: $appBlue
        color: $appLight
        box-shadow: 0 5px 7px 0 rgba(50, 50, 50, 0.75)

.payment-btn
  display: block
  margin: 0 auto
  padding: .5rem
